
.card__yearly{
	display: none;
	justify-content: center;
	border-radius: 26px;
	max-width: 937px;
	margin: auto;

	background: rgba(255, 255, 255, 0.64);
	padding-top: 40px;
	margin-bottom: 64px;
	flex-wrap: wrap;
	
}